# UDEMY MySQL Bootcamp Course

Completed Section 1 of Course May 20th, 2021

Signed up for GOORM IDE and created new workspace for course May 23, 2021

Completed Section 2 of Course May 23, 2021

Completed Lecture Videos Section 3 # 17-26 May 23, 2021

Lecture 27 - Basic Data Types Challenge
    Draw a Tweets Table
        - A username (max 15 characters)
        - The Tweet Content (max 140 characters)
        - Number of Favorites
    My_Tweet_Table
        - username varchar(15)
        - Content varchar(140)
        - Favorites int
    Solution
        - username varchar(15)
        - Content varchar(140)
        - Favorites int
    Challege is Correct
    Challenge Completed May 23, 2021

Completed Lecture Videos Section 3 # 29-34 May 23, 2021

Lecture 35 - Creating Your Own Tables Challenge
    Pastries Table
        - Should atleast include columns name (50 characters max) and quantity
        - Inspect your table/columsn in cli
        - Delete the table

In [1]:
# Lecture 35 Challenge
# CREATE TABLE pastries(
#    -> name VARCHAR(50),
#    -> number INT,
#    -> price INT
#    -> );
# SHOW TABLES;
# SHOW COLUMNS FROM pastries;
# DROP TABLE pastries;
# SHOW TABLES;

In [2]:
# Lecture 35 Solution
# CREATE TABLE pastries
#   (
#     name VARCHAR(50),
#     quantity INT
#   );
 
# SHOW TABLES;
 
# DESC pastries;
 
# DROP TABLE pastries;
# Slight syntax difference between work and solution. Still correct.
# Completed Lecture 35 Code Challenge May 23, 2021

Completed Section 3 May 23, 2021

Completed Lecture Videos Section 4 # 37-43 May 25th, 2021

In [1]:
# Lecture 44 Challenge
# CREATE TABLE people (
#    -> first_name VARCHAR(20),
#    -> last_name VARCHAR(20),
#    -> age INT
#    -> );
#
# INSERT INTO people(first_name, last_name, age) VALUES('Tina', 'Belcher', 13);
# SELECT * FROM people;
#
# INSERT INTO people(age, first_name, last_name) VALUES (42, 'Bob', 'Belcher');
# SELECT * FROM people;
#
# INSERT INTO people(first_name, last_name, age) VALUES ('Linda', 'Belcher', 45), ('Phillip', 'Frond', 38), ('Calvin', 'F
# ischoeder', 70);
# SELECT * FROM people;

In [2]:
# INSERT CHALLENGE SOLUTION
# CREATE TABLE people
#   (
#     first_name VARCHAR(20),
#     last_name VARCHAR(20),
#     age INT
#   );
# INSERT INTO people(first_name, last_name, age)
# VALUES ('Tina', 'Belcher', 13);
# INSERT INTO people(age, last_name, first_name)
# VALUES (42, 'Belcher', 'Bob');
# INSERT INTO people(first_name, last_name, age)
# VALUES('Linda', 'Belcher', 45)
#   ,('Phillip', 'Frond', 38)
#   ,('Calvin', 'Fischoeder', 70);
# Slight Difference between work and solution. Still correct.
# Completed Lecture 44 Code Challenge May 28, 2021

Completes Lecture Videos Section 4 # 48 - 56 May 29, 2021